body{
    font-size: 0.90rem;
}

.table{
    font-size: 0.80rem;
}

.table>:not(caption)>*>*{
    padding: 0.0rem;
}

/* Cambiar color de texto durante el hover en celdas */
.table-hover tbody tr:hover td {
    background-color: #ffff11;
}

.x-rounded {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #818181; /* Borde interior */
    position: relative;
}
