/venv/
db.sqlite3
/__pycache__/
/migrations/
*.pyc
.pyc
migrations/
*/migrations/*
logs.log
logs/
/media/
*/media/
secrets_config.py
*.sql
settings.py
static_django/
/static_django/
src/config/settings.py
src/config/settings.py
src/tests/test_data/seed.py