/venv/
db.sqlite3
/__pycache__/
/migrations/
*.pyc
.pyc
migrations/
*/migrations/*
logs.log
logs/
*/imgs/
src/tests/test_data/images/imgs/
/media/
src/client/traking/dist
*/media/
secrets_config.py
src/config/settings.py
*config/settings.py
*.sql
*.zip
*.pem
settings.py
static_django/
/static_django/
src/static/admin/
src/config/settings.py
src/config/settings.py
src/tests/test_data/seed.py
src/tests/images/imgs/
*.tar
bun.*
.~lock.*
test_db_.tar
.project
