{% extends 'base/base.html' %}
{% load static %}
{% block css_files %}
<link rel="stylesheet" type="text/css" href="{% static '/css/jquery.dataTables.min.css' %}">
<script src="{% static '/js/jquery-3.6.1.min.js' %}"></script>
{% endblock %}
{% block title_bar %}
<div class="row border bg-gardient-secondary rounded" style="padding: 15px;">
    <div class="col-8">
        <i class="fa fa-list"></i>
        {{ title_page }} <strong> {{ total_records }} Registros Encontrados </strong>
    </div>
    <div class="col-4 text-right"><small>[Sistema Toma Inventarios] | <strong>Módulo {{ module_name }}
            </strong></small></div>
</div>
{% endblock %}
{% block content %}
<div class="container-fluid">
        <div class="row row-vertical-space">
            <br/>
            <div class="col">
                <a href="/sap/" class="">
                    <button class="btn bg-gradient-info btn-sm btn-sm">
                        <i class="fas fa-bars"></i>
                        Voler a la Lista
                    </button>
                </a>
            </div>
            <div class="col-4">
                <form  method="get">
                <div class="row">
                    <div class="col-8">
                            <div class="form-group">
                                <select class="form-control" name="criteria">
                                    <option value="by_warenhouses" {%if condition_report == 'by_warenhouses'%} selected {%endif%} >Mostrar Resumen Por Bodega</option>
                                    <option value="by_owners" {%if condition_report == 'by_owners'%} selected {%endif%} >Mostrar Resumen por Empresa</option>
                                </select>
                            </div>
                    </div>
                    <div class="col">
                        <button class="btn bg-gradient-dark btn-sm"><i class="fas fa-sync"></i> Actualizar</button>
                    </div>
                </div>
            </form>
            </div>
            <div class="col text-right">
                <a href="#" class="">
                    <button class="btn bg-gradient-dark btn-sm">
                        <i class="fas fa-file"></i>
                        Tomas Realizadas
                    </button>
                </a>
                <a href="/taking/create/{{ pk }}" class="">
                    <button class="btn bg-gradient-dark btn-sm">
                        <i class="fas fa-file"></i>
                        Realizar Nueva Toma
                    </button>
                </a>
            </div>
            <br />  
        </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
            <table class="table table-bordered table-hover table-condensed" id="table">
                <thead>
                    <tr class="bg-gradient-dark text-center">
                        <th>#</th>
                        <th>Producto</th>
                        {% for column in report.columns %}
                            <th class="text-center" title="{{ column }}"><small>{{ column }}</small></th>
                        {% endfor %}
                        <td>Totales</td>
                    </tr>
                </thead>
                <tbody>
                    {% for item in report.table %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td nowrap="" data-toggle="modal" data-target="#exampleModal"> <i class="fas fa-arrows-alt text-info"></i> {{ item.name }}</td>
                            {% for det in item.columns %}
                                <td class="text-right">{{ det.on_hand }}</td>
                            {% endfor %}
                            <td class="text-right bg-light">
                                <strong>
                                    {{ item.on_hand }}
                                </strong>
                            </td>
                        </tr>    
                        {% endfor %}
                    </tbody>
            </table>
        </div>
        </div>
    </div>
</div>
<!-- Extra large modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title text-info w-100 text-center">Producto Selecciondo Total de Existencias</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row border rounded">
                    <div class="col border">
                       <span class="text-secondary">Cod Barras: </span>
                       <span>9876545678</span>
                    </div>
                    <div class="col border">
                        <span class="text-secondary">Und Empaque: </span>
                        <span>6</span>
                    </div>
                    <div class="col border">
                        <span class="text-secondary">Cod: </span>
                        <span>011245411200750</span>
                    </div>
                    <div class="col border">
                        <span class="text-secondary">Bodegas: </span>
                        <span>4</span>
                    </div>
                    <div class="col border">
                        <span class="text-secondary">   Empresas: </span>
                        <span>3</span>
                    </div>  
                </div>
                  <div class="row">
                    <div class="col border rounded">
                        <div class="row">
                            <div class="col h4 text-center">BODEGAS</div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <table class="table table-bordered table-condensed">
                                    <thead>
                                        <tr class="text-center bg-gradient-dark">
                                            <th>#</th>
                                            <th>Bodega</th>
                                            <th>Codigo SAP</th>
                                            <th>Cantidad</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col border rounded">
                        <div class="row">
                            <div class="col h4 text-center text-info">EMPRESAS</div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <table class="table table-bordered table-condensed">
                                    <thead>
                                        <tr class="text-center bg-gradient-info">
                                            <th>#</th>
                                            <th>Empresa</th>
                                            <th>Cantidad</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row border rounded">
                        <div class="col text-center text-secondary h5">Detalle [descripcion seleccion]</div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <table class="table table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nombre</th>
                                        <th>SAP CODE</th>
                                        <th>Cantidad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>2</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
    </div>
</div>

</div>
{% endblock content %}
{% block scritp_code %}
<script type="text/javascript" charset="utf8" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#table').DataTable();
        $('#table_owners').DataTable();
        $('#table_resume').DataTable();
        $('#table_warenhouses').DataTable();
    });
</script>
{% endblock %}