{% extends 'base/base.html' %}
{% load static %}
{% block css_files %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">
        <div class="row row-vertical-space border rounded">
            <div class="col text-right">
                <a href="#" class="">
                    <button class="btn btn-outline-dark btn-xs">
                        <i class="fas fa-file text-info"></i>
                        Reporte Toma
                    </button>
                </a>
                <a href="#" class="">
                    <button class="btn btn-outline-dark btn-xs">
                        <i class="fas fa-file text-info"></i>
                        Realizar Toma
                    </button>
                </a>
            </div>
        </div>
    <div class="row">
        <div class="col">
            <table class="table table-bordered table-hover table-condensed" id="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Bodega</th>
                        <th>Empresa</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in migration.detail %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.product }}</td>
                        {% for item_repor in item.report %}
                            <td>{{ item.report.on_hand }}</td>
                            <td>S </td>
                        {% endfor %}
                    </tr>
                    {%endfor%}

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
{% block scritp_code %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        $('#table').DataTable();
    });
</script>
{% endblock %}