{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}
{% block css_files %}
{% endblock %}
{% block title_bar %}
<div class="row border bg-gardient-secondary rounded" style="padding: 10px;">
    <div class="col-8">
        <i class="fa fa-list"></i>
        {{ title_page }} <strong> [{{ total_records }} registros]</strong>
        {% if message != '' %}
        &nbsp;&nbsp;&nbsp;
        <strong class="text-info">
            <i class="fas fa-exclamation-triangle"></i>
            {{ message }}
        </strong>
        {% endif %}
    </div>
    <div class="col-4 text-right">
        [Sistema Toma Inventarios] | Módulo {{ module_name }} 
        <span class="text-primary">
            [{{ total_time | floatformat:2 }} segs]
        </span>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col" style="padding: 10px;">
            <table class="table table-bordered table-condensed table-hover">
                <tbody>
                    <tr>
                        <th class="text-right bg-light">
                            Total
                        </th>
                        <td class="text-right">
                            <strong>{{ total_records }}</strong> migraciones
                        </td>
                        <th class="text-right bg-light">
                            Última:
                        </th>
                        <td class="text-right">
                            <a href="/sap/detail/{{last_migration.migration.pk}}">
                                <strong>
                                    [{{last_migration.migration.pk}}]
                                </strong>
                                |
                                {{ last_migration.user.create_by }}
                                |
                                {{ last_migration.migration.created | naturalday }}
                            </a>
                        </td>
                        <td class="text-right">
                            <a href="/sap/?action=migrate" class="btn btn-outline-dark btn-xs">
                                <i class="fas fa-share text-info"></i>
                                Importar Saldos SAP
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  
    <div class="row">
        <div class="col">
            <table class="table table-bordered table-hover" id="table">
                <thead>
                    <tr class="text-center bg-gradient-secondary">
                        <th>#</th>
                        <th>Fecha</th>
                        <th>Usuario</th>
                        <th>SKU'S</th>
                        <th>Bodegas</th>
                        <th>Tomas</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for migration in all_migrations %}
                    <tr {% if forloop.first %} class="bg-gradient-light-selector" {% endif %}>
                        <td class="text-center" data-toggle="modal" data-target="#detailModal">
                                &nbsp;{{ forloop.counter }}&nbsp;
                        </td>
                        <td>
                            <a href="/sap/detail/{{migration.migration.pk}}">
                                {{ migration.migration.created | naturalday }}
                            </a>
                        </td>
                        <td class="text-center">{{ migration.user.create_by }}</td>
                        <td class="text-center">{{ migration.migration.total_products | intcomma }}</td>
                        <td class="text-center">{{ migration.migration.total_warenhouses | intcomma }}</td>
                        <td>
                            {% if not migration.takings %}
                            <i class="fas fa-ban text-secondary"></i>
                            <span class="text-secondary">SIN TOMAS</span>
                            {% else %}
                            <i class="fas fa-arrows-alt text-info" onclick="showTaking({{migration.migration.pk}})"></i>
                                {{ migration.takings | length }} TOMAS
                            {% endif %}
                                <ul id="show-takings-{{migration.migration.pk}}" hidden="">
                            {% for taking in migration.takings%}
                                    <li>
                                        <a href="/takings/detail/{{taking.pk}}">{{ taking.name | default_if_none:'Sin Nombre' }}</a>
                                        | {{ taking.created | naturalday }}
                                        | {{ taking.user_manager }}
                                        | {{ taking.location }}
                                    </li>
                            {% endfor %}
                                </ul>
                        </td>
                        <td style="padding-left: 20px;">
                            {% if migration.migration.is_active %}
                                <i class="fas fa-unlock text-success" title="Disponible Para Tomas"></i>
                            {% else %}
                                <i class="fas fa-lock" title="No se puede hacer mas tomas"></i>
                            {% endif %}
                            <span class="text-secondary">&nbsp;|&nbsp;</span>
                            <a href="/takings/create/{{ migration.migration.pk }}" title="Crear una Toma">
                                <i class="fas fa-clipboard text-info"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block scritp_code %}
<script>
    function showTaking(id_row) {
       current = document.getElementById('show-takings-' + id_row).hidden;
       document.getElementById('show-takings-'+ id_row).hidden = !current;
    }
</script>
{% endblock %}