{% extends 'base/base.html' %}
{% load static %}
{% block css_files %}
{% endblock %}
{% block title_bar %}
<div class="row border bg-gardient-secondary rounded" style="padding: 15px;">
    <div class="col-8">
        <i class="fa fa-list"></i>
        {{ title_page }} <strong> {{ total_records }} Registros Encontrados </strong>
    </div>
    <div class="col-4 text-right"><small>[Sistema Toma Inventarios] | <strong>Módulo {{ module_name }}
            </strong></small></div>
</div>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <table class="table table-bordered table-condensed">
        <tbody>
            <tr>
                <th class="text-right bg-light">
                    Total Importaciones
                </th>
                <td class="text-right">
                    25 migraciones
                </td>
                <th class="text-right bg-light">
                    Ultima Importación
                </th>
                <td class="text-right">
                    $ 0.00
                </td>
                <td class="text-right">
                    <a href="/sap/?migrate=true" class="btn btn-outline-dark btn-xs">
                        <i class="fas fa-share text-info"></i>
                        Importar Saldos SAP
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col">
            <table class="table table-bordered table-hover table-striped" id="table">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Fecha</th>
                        <th class="text-center">Usuario</th>
                        <th class="text-center">Bodegas</th>
                        <th class="text-center">productos</th>
                        <th class="text-center">Items</th>
                        <th class="text-center">Toma?</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for migration in all_migrations %}
                    <tr>
                        <td class="text-center">
                            <a href="/admin/sap_migrations/sapmigration/{{migration.migration.pk}}/change/"
                                target="_blank">
                                &nbsp;{{ forloop.counter }}&nbsp;
                            </a>
                        </td>
                        <td>
                            {% if migration.migration.is_active %}
                            <i class="fas fa-lock-open text-success"></i>
                            {% else %}
                            <i class="fas fa-lock"></i>
                            {% endif%}
                            ->
                            <a href="/sap/detail/{{migration.migration.pk}}">
                                {{ migration.migration.created }}
                            </a>
                        </td>
                        <td class="text-center">{{ migration.user.create_by }}</td>
                        <td class="text-center">{{ migration.migration.total_warenhouses }}</td>
                        <td class="text-center">{{ migration.migration.total_products }}</td>
                        <td class="text-center">{{ migration.migration.total_products_unities }}</td>
                        <td class="text-center">
                            {% if migration.migration.have_taking %}
                                <i class="fas fa-clipboard-check text-success"></i>
                            {% else %}
                            <a href="/taking/create/{{ migration.migration.pk }}">
                                <i class="fas fa-clipboard text-info"></i>
                            </a>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <a href="/sap/detail/{{migration.migration.pk}}">
                                <i class="fas fa-chart-area"></i>
                            </a>
                            &nbsp; &nbsp;
                            <span class="text-danger">
                                <i class="fas fa-trash"></i>
                            </span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block scritp_code %}
<script>
    $(document).ready(function () {
        $('#table').DataTable();
    });
</script>
{% endblock %}