{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}
{% block css_files %}
<link rel="stylesheet" type="text/css" href="{% static '/css/jquery.dataTables.min.css' %}">
<script src="{% static '/js/jquery-3.6.1.min.js' %}"></script>
{% endblock %}
{% block title_bar %}
<div class="row border bg-gardient-secondary rounded" style="padding: 15px;">
  <div class="col-8">
    <i class="fa fa-list"></i>
    {{ title_page }} <strong> [{{ total_records }} Registros] </strong>
  </div>
  <div class="col-4 text-right">[Sistema Toma Inventarios] | <strong>Módulo {{ module_name }}
    <span class="text-primary">
      [{{ total_time | floatformat:2 }} segs]
    </span>
      </strong></div>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col" style="padding: 10px;">
        <table class="table table-bordered table-condensed">
          <tbody>
            <tr>
              <th class="text-right bg-light">
                Total
              </th>
              <td class="text-right">
                <strong>{{ total_records }}</strong> Tomas
              </td>
              <th class="text-right bg-light">
                Última:
              </th>
              <td class="text-right">
                <a href="/takings/detail/{{last_taking.pk}}">
                  <strong>
                    [{{last_taking.pk}}]
                  </strong>
                  |
                  {{ last_taking.user_manager }}
                  |
                  {{ last_taking.created | naturalday }}
                </a>
              </td>
              <td class="text-right">
                <a href="/sap/?migrate=true" class="btn btn-outline-dark btn-xs">
                  <i class="fas fa-share text-info"></i>
                  Importar Saldos SAP
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  <table class="table table-bordered table-hover">
    <thead>
      <tr class="text-center bg-gradient-secondary">
        <th>#</th>
        <th>Nombre Toma</th>
        <th>Fecha</th>
        <th>SAP</th>
        <th>Manager</th>
        <th>Ubicación</th>
        <th>Bodegas</th>
        <th>Acciones</th>
    </tr>
  </thead>
    <tbody>
      {% for item in object_list %}
      <tr {% if forloop.first %} class="bg-gradient-light-selector" {% endif %}>
        <td class="text-center">{{ forloop.counter }}</td>
        <td>
          <a href="/takings/detail/{{item.pk}}" title="{{ item.created | naturaltime}}">
            [{{ item.pk }}] {{ item.name | default_if_none:'Sin Nombre'}}
          </a>
        </td>
        <td>
            {{ item.created | naturalday }}
        </td>
        <td class="text-center">
            <a href="/sap/detail/{{item.id_sap_migration_id}}">
              {{ item.id_sap_migration_id }}
            </a>
        </td>
        <td>{{ item.user_manager }}</td>
        <td>{{ item.location | default_if_none:'Sin Dato'}}</td>
        <td>
          <i class="fas fa-arrows-alt text-info" onclick="showWarenhouses({{ item.pk }})"></i>
          {{ item.total_warenhouses | intcomma}} Bodegas
          <ul id="show-warenhouses-{{item.pk}}" hidden="">
            {% for warenhouse in item.warenhouses %}
            <li>{{ warenhouse }}</li>
            {% endfor %}
          </ul>
        </td>
        <td style="padding-left: 20px;">
          {% if item.is_active %}
          <i class="fas fa-lock-open text-success" title="Toma Activa"></i>
          {% else %}
          <i class="fas fa-lock" title="Toma Cerrada"></i>
          {% endif%}
          <span class="text-secondary">&nbsp;|&nbsp;</span>
          {% if item.have_report %}
            <i class="fas fa-check-square text-success" title="Ver Reporte de Toma"></i>
          {% else %}
            <i class="fas fa-minus-square text-secondary" title="Sin Reporte"></i>
          {% endif %}
          <span class="text-secondary">&nbsp;|&nbsp;</span>
          {% if item.takings_details %}
            <i class="fas fa-trash text-danger" title="Eliminar Toma"></i>
            <span class="text-secondary">&nbsp;|&nbsp;</span>
            <i class="fas fa-pencil-alt text-info" title="Modificar Toma"></i>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
  </tbody>
  </table>
</div>
{% endblock %}
{% block scritp_code %}
<script type="text/javascript" charset="utf8" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script>
  function showWarenhouses(id_row) {
    current = document.getElementById('show-warenhouses-' + id_row).hidden;
    document.getElementById('show-warenhouses-' + id_row).hidden = !current;
  }
</script>
{% endblock %}