{% extends 'base/base.html' %}
{% load static %}
{% block css_files %}
<link rel="stylesheet" type="text/css" href="{% static '/css/jquery.dataTables.min.css' %}">
<script src="{% static '/js/jquery-3.6.1.min.js' %}"></script>
{% endblock %}
{% block title_bar %}
<div class="row border bg-gardient-secondary rounded" style="padding: 15px;">
  <div class="col-8">
    <i class="fa fa-list"></i>
    {{ title_page }} <strong> {{ object_list | length }} Registros Encontrados </strong>
  </div>
  <div class="col-4 text-right"><small>[Sistema Toma Inventarios] | <strong>Módulo {{ module_name }}
      </strong></small></div>
</div>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col"></div>
  </div>
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th>#</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
  </thead>
    <tbody>
      <tr>
  
    </tr>
  </tbody>
  </table>
  {{ object_list }}
</div>
{% endblock %}
{% block scritp_code %}
<script type="text/javascript" charset="utf8" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('#table').DataTable();
  });
</script>
{% endblock %}