{% extends 'base/base.html' %}
{% load static %}
{% block css_files %}
<link rel="stylesheet" type="text/css" href="{% static '/css/jquery.dataTables.min.css' %}">
<script src="{% static '/js/jquery-3.6.1.min.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col">
			<strong>Fecha de Toma:</strong> {{ sap_migration.created }}
		</div>
	</div>
	<div class="row">
		<div class="col">
			<strong>Grupo 2: </strong> [Eduardo Villota | Jorgito Villota]
		</div>
	</div>
	<div class="row">
		<div class="col text-center">
			<span class="text-secondary">Ingrese Nombre Del Producto</span>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<input type="text" class="form-control">
		</div>
	</div>
	<div class="row">
		<div class="col text-center">
			<div class="col">
				<img src="https://http2.mlstatic.com/D_NQ_NP_889673-MEC51671634709_092022-W.jpg" class="img-fluid img-thumbnail">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<table class="table table bordered table condensed">
				<tr>
					<th colspan="2" class="text-center bg-gradient-light">
						DETALLE DE PRODUCTO
					</th>
				</tr>
				<tr>
					<th class="bg-gradient-light text-right">Nombre:</th>
					<td>Whisky Something Sepecial Whisky Something Sepecial</td>
				</tr>
				<tr>
					<th class="bg-gradient-light text-right">Cod Contable:</th>
					<td>09876534567930</td>
				</tr>
				<tr>
					<th class="bg-gradient-light text-right">EAN 13:</th>
					<td>987653456789</td>
				</tr>
				<tr>
					<th class="bg-gradient-light text-right">EAN 14:</th>
					<td>987645678987</td>
				</tr>
				<tr>
					<th class="bg-gradient-light text-right">Tipo:</th>
					<td>Whisky</td>
				</tr>
				<tr>
					<th class="bg-gradient-light text-right">Cantidad Caja:</th>
					<td>12</td>
				</tr>
				<tr>
					<th class="bg-gradient-light text-right">Registro Sanitario:</th>
					<td>1203-ALE-987</td>
				</tr>
				<tr>
					<td colspan="2" class="text-center bg-gradient-light">
						<a href="" class="">
							<strong>
								ACTUALIZAR FICHA
							</strong>
						</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
		<div class="row bg-gradient-light align-middle">
			<div class="col text-center">
				<h6 class="text-success">EXISTENCIAS TOMA</h6>
			</div>
		</div>
		<div class="row" style="font-size: 16px;">
			<div class="col">
				<div class="row">
					<div class="col-4 text-right align-middle">Cajas:</div>
					<div class="col">
						<input type="number" class="form-control" style="font-size: 24px;">
					</div>
				</div>
				<div class="row">
					<div class="col-4 text-right align-middle">Botellas:</div>
					<div class="col">
						<input type="number" class="form-control" style="font-size: 25px;">
					</div>
				</div>
				<div class="row">
					<div class="col-4 text-right align-middle">Observaciones:</div>
					<div class="col">
						<textarea class="form-control"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<button class="btn btn-block btn-primary"> <i class="fas fa-save"></i> Guardar</button>
					</div>
				</div>
			</div>
		</div>
</div>
{% endblock %}