{% extends 'base/base.html' %}
{% load static %}
{% block css_files %}
<link rel="stylesheet" type="text/css" href="{% static '/css/jquery.dataTables.min.css' %}">
<script src="{% static '/js/jquery-3.6.1.min.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container" id="app">
	<div class="row">
		<div class="col-10">
			<strong>Fecha de Toma:</strong> {{ sap_migration.created }}
		</div>
		<div class="col-2">
			<button class="btn" v-if="!show_search" @click="switchView()"><i class="fas fa-search text-info"></i></button>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<strong>Grupo 2: </strong> [Eduardo Villota | Jorgito Villota]
		</div>
	</div>
	<div id="header" v-if="show_search">
	<div class="row">
		<div class="col text-center">
			<span class="text-secondary">Ingrese Nombre Del Producto</span>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<input type="text" class="form-control" style="font-size: 18px;" v-model="query_search" @keyup="searchProduct()">
		</div>
	</div>
	<div class="row">
		<div class="col">
			Resultados: 
			<strong class="text-primary">
				${ query_search }
			</strong> 
			&nbsp;
			<span class="text-info" v-if="filtered_products.length">
				${ filtered_products.length } registros encontrados
			</span>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<ul class="list-group" v-for="(product, index) in filtered_products">
				<li class="list-group-item bg-gradient-light" @click="showTaking(product)">
					<span style="font-size: 16px;">
						${product.fields.name}
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>
	<div id="detail" v-if="!show_search">
	<div class="row">
		<div class="col text-center">
			<div class="col">
				<img v-bind:src="current_item.fields.image_front" class="img-fluid img-thumbnail">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<table class="table table bordered table condensed" style="font-size: 16px;">
				<tr>
					<th colspan="2" class="text-center bg-gradient-light">
						DETALLE DE PRODUCTO
					</th>
				</tr>
				<tr>
					<th class="bg-gradient-light text-right">Nombre:</th>
					<td>${ current_item.fields.name }</td>
				</tr>
				<tr>
					<th class="bg-gradient-light text-right">Cod Contable:</th>
					<td>${ current_item.fields.account_code }</td>
				</tr>
				<tr>
					<th class="bg-gradient-light text-right">Capacidad:</th>
					<td>${current_item.fields.capacity} ${ current_item.fields.unit_measurement }</td>
				</tr>
				<tr>
					<th class="bg-gradient-light text-right">EAN 13:</th>
					<td>${current_item.fields.ean_13_code}</td>
				</tr>
				<tr>
					<th class="bg-gradient-light text-right">EAN 14:</th>
					<td>${current_item.fields.ean_14_code}</td>
				</tr>
				<tr>
					<th class="bg-gradient-light text-right">Tipo:</th>
					<td>${ current_item.type_product }</td>
				</tr>
				<tr>
					<th class="bg-gradient-light text-right">UND Venta:</th>
					<td>${ current_item.sale_unit_measurement }</td>
				</tr>
				<tr>
					<th class="bg-gradient-light text-right">Grado Alc.:</th>
					<td>${ current_item.alcoholic_strength }</td>
				</tr>
				<tr>
					<th class="bg-gradient-light text-right">Dim Caja:</th>
					<td>${ current_item.box_dimensions }</td>
				</tr>
				<tr>
					<th class="bg-gradient-light text-right">Dim Product:</th>
					<td>${ current_item.product_dimensions }</td>
				</tr>
				<tr>
					<th class="bg-gradient-light text-right">COD ICE:</th>
					<td>${ current_item.ice_code }</td>
				</tr>
				<tr>
					<th class="bg-gradient-light text-right">Cantidad Caja:</th>
					<td>${ current_item.fields.quantity_per_box }</td>
				</tr>
				<tr>
					<th class="bg-gradient-light text-right">Registro Sanitario:</th>
					<td>${ health_register }</td>
				</tr>
				<tr>
					<td colspan="2" class="text-center bg-gradient-light">
						<a href="" class="">
							<strong>
								ACTUALIZAR FICHA
							</strong>
						</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
		<div class="row align-middle">
			<div class="col text-center">
				<h6 class="text-success">EXISTENCIAS TOMA</h6>
			</div>
		</div>
		<div class="row" style="font-size: 16px;">
			<div class="col">
				<div class="row">
					<div class="col-4 text-right align-middle">Cajas:</div>
					<div class="col">
						<input type="number" class="form-control" style="font-size: 24px;">
					</div>
				</div>
				<div class="row">
					<div class="col-4 text-right align-middle">Botellas:</div>
					<div class="col">
						<input type="number" class="form-control" style="font-size: 25px;">
					</div>
				</div>
				<div class="row">
					<div class="col-4 text-right align-middle">Observaciones:</div>
					<div class="col">
						<textarea class="form-control"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<button class="btn btn-block btn-primary"> <i class="fas fa-save"></i> Guardar</button>
					</div>
				</div>
			</div>
		</div>
		</div>
</div>
{% endblock %}
{% block scritp_code %}
<script>
	var products = {{ products | safe }};
	var warenhouses = {{ warenhouses | safe }};
</script>
<script type="text/javascript" charset="utf8" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="{% static 'js/apps/taking/app_taking.js' %}"></script>
{% endblock %}