{% load static %}
{% load humanize %}
<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" href="{% static '/img/favicon.ico' %}" type="image/x-icon">
  <link rel="icon" href="/favicon.ico">
  <title>Manager Toma {{ id_taking }} </title>
  <link href="{% static 'css/apps/manager/chunk-vendors.css' %}" rel="stylesheet">
  <link href="{% static 'css/apps/manager/app.css' %}" rel="stylesheet">
</head>
<body>
  <div id="app">
  </div>
  <script>
    var url_data = '/api/common/taking-data/{{ id_taking}}/';
    var id_taking = {{ id_taking }};
    var user_data = {
      "username": '{{ user.username }}',
      "id": {{ user.pk }},
      "first_name": '{{user.first_name}}',
      "last_name": '{{user.last_name}}',
      "email": '{{user.email}}',  
    };
    var base_url = '';
    var csrftoken = document.cookie.match(/csrftoken=([^;]+)/)[1];
  </script>
<script src="{% static 'js/apps/manager/chunk-vendors.js' %}"></script>
<script src="{% static 'js/apps/manager/app.js' %}"></script>
</body>
</html>