{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}
{% block css_files %}
<link rel="stylesheet" type="text/css" href="{% static '/css/jquery.dataTables.min.css' %}">
<script src="{% static '/js/jquery-3.6.1.min.js' %}"></script>
{% endblock %}
{% block title_bar %}
<div class="container-fluid">
    <div class="row border bg-gardient-secondary rounded" style="padding: 15px;">
        <div class="col-8">
            <i class="fa fa-list"></i>
            Toma De Inventario <strong>{{ title_page }}</strong> 
        </div>
        <div class="col-4 text-right">
            <small>[Sistema Toma Inventarios] | <strong>Módulo {{ module_name }}</strong></small>
            <span class="text-primary">
                [{{ total_time | floatformat:2 }} segs]
            </span>
        </div>
    </div>
    <hr/>
    <div class="row border">
        <div class="col-3 border">
            <strong>Fecha de Toma:</strong>
            {{ taking.created | naturalday }}</div>
        <div class="col-2 border">
                <strong>Manager:</strong>
                {{ taking.user_manager }}
        </div>
        <div class="col-1 border">
            <strong>Grupos:</strong>
            {{ taking.total_groups }}
        </div>
        <div class="col-2 border">
            <strong>Bodegas:</strong>
            {{ taking.total_warenhouses }}
            <div id="warenhouses-list">
            {% for warenhouse in warenhouses  %}
            <small>
            <ul>
               <li>{{ warenhouse }}</li>
            </ul>
            </small>
            {% endfor %}
            </div>
        </div>
        <div class="col-2 border">
            <strong>Empresas:</strong>
             {{ enterprises | length }}
             <div id="enterprises-list">
                {% for enterprise in enterprises %}
                <small>
                    <ul>
                        <li>{{ enterprise }}</li>
                    </ul>
                </small>
                {% endfor %}
                </div>
        </div>
        <div class="col-2 border">
            <div class="row">
                <div class="col-2">
                    <i class="fas fa-eye btn btn-outline-dark btn-sm" onclick="showDetails()" id="btn-show-details"></i>
                </div>
                <div class="col-10 text-right">
                    <button class="btn btn-sm btn-warning" onclick="changeStatus({{ taking.pk }})">
                        <i class="fas fa-share"></i>
                        Reconteo
                    </button>
                        <button class="btn btn-sm btn-danger" onclick="changeStatus({{ taking.pk }})">
                            <i class="fas fa-stop"></i>
                            Detener Conteo
                        </button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <table class="table table-bordered table-condensed" id="table">
        <thead>
            <tr class="text-center bg-gradient-dark">
                <th>#</th>
                <th>Producto SKU</th>
                <th>SKU Code</th>
                <th>Cap</th>
                <th>CxC</th>
                <th>SAP Stock</th>
                <th>Conteo</th>
                <th>Saldo</th>
                <th>STS</th>
            </tr>
        </thead>
        <tbody>
            {% for item in report %}
            <tr>
                <td class="text-center">
                    {{forloop.counter}}
                </td>
                <td nowrap="" data-toggle="modal" data-target="#exampleModal" onclick="getProduct('{{ item.product.account_code }}')"><i class="fas fa-arrows-alt text-info"></i>{{item.product}} <small class="text-secondary">{{item.product.account_code}}</small></td>
                <td>{{item.product.ean_13_code}}</td>
                <td>{{item.product.capacity}}</td>
                <td class="text-right">{{item.product.quantity_per_box}}</td>
                <td class="text-right">{{ item.sap_stock | intcomma}}</td>
                <td class="text-right">{%if item.tk_quantity%}{{ item.tk_quantity | intcomma}}{% else %}0{% endif %}</td>
                <td class="text-right">{{ item.diff | intcomma }} </td>
                <td class="text-center">
                    {% if item.is_complete %}
                        <span class="text-success">
                            COMPLETO
                        </span>
                    {% else %}
                        <span class="text-danger">
                            DIFERENCIA
                        </span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Extra large modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-info w-100 text-center" id="app-product-desc"></h4>
                <i class="fas fa-eye" onclick="showProductImg()"></i>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="my_report_pdf">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col text-center" id="image_product"></div>
                    </div>
                    <div class="row border rounded">
                        <div class="col border">
                            <span class="text-secondary">Cod Barras: </span>
                            <span id="ean_13_code"></span>
                        </div>
                        <div class="col border">
                            <span class="text-secondary">Und Empaque: </span>
                            <span id="quantity_per_box"></span>
                        </div>
                        <div class="col border">
                            <span class="text-secondary">Cod:</span>
                            <span id="account_code"></span>
                        </div>
                        <div class="col border">
                            <span class="text-secondary">Registro: </span>
                            <span id="health_register"></span>
                        </div>
                    </div>
                    <br/>
                    <!-- tabs-->
                    <ul class="nav nav-tabs nav-pills" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-toggle="tab" data-target="#home" type="button" role="tab"
                                aria-controls="home" aria-selected="true" style="width: 300px;"> <i class="fas fa-clipboard-list"></i> &nbsp;Estado Toma</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="notes-tab" data-toggle="tab" data-target="#notes" type="button" role="tab"
                                aria-controls="notes" aria-selected="true" style="width: 300px;"><i class="fas fa-sticky-note"></i> &nbsp;Novedades Toma</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-toggle="tab" data-target="#profile" type="button" role="tab"
                                aria-controls="profile" aria-selected="false" style="width: 300px;"> <i class="fas fa-boxes"></i> &nbsp; Existencias SAP</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-5 border rounded">
                                    <div class="row bg-gradient-light">
                                        <div class="col text-center text-secondary">EXISTENCIAS</div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <table class="table table-bordered table-hover">
                                                <thead>
                                                    <tr class="text-center bg-gradient-light">
                                                        <th>#</th>
                                                        <th>Bodega</th>
                                                        <th>Cantidad</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="current-sale">
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-7 border">
                                    <div class="row bg-gradient-light">
                                        <div class="col text-center text-secondary">TOMA</div>
                                    </div>
                                    <div class="row text-center">
                                        <div class="col text-center">
                                            <span class="h2 text-secondary" id="total-sap"></span>
                                        </div>
                                        <div class="col text-center">
                                            <span class="h2 text-primary" id="total-taking"></span>
                                        </div>
                                        <div class="col text-center" id="status-img">
                                            
                                            
                                        </div>
                                        </div>
                                        <div class="row text-center">
                                        <div class="col">
                                            <span class="text-secondary">SAP</span>
                                        </div>
                                        <div class="col text-center">
                                            <span class="text-primary">TOMA</span>
                                        </div>
                                        <div class="col text-center" id="message-status">
                                            <span class="text-success">DIFERENCIA</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <table class="table table-condensed table-bordered table-hover">
                                                <thead>
                                                    <tr class="text-center bg-gradient-light">
                                                        <th>#</th>
                                                        <th>Grupo</th>
                                                        <th>Cajas</th>
                                                        <th>Unds</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="taking-detail">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="notes-tab">
                            <div class="row bg-gradient-light">
                                <div class="col text-center text-secondary">NOVEDADES ENCONTRADAS</div>
                            </div>
                                <div class="row">
                                    <div class="col">
                                        <table class="table table-condensed table-bordered table-hover">
                                            <thead>
                                                <tr class="text-center bg-gradient-light">
                                                    <th>#</th>
                                                    <th>Grupo</th>
                                                    <th>Observaciones</th>
                                                    <th>Unds</th>
                                                </tr>
                                            </thead>
                                            <tbody id="notes-detail">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row">
                                <div class="col border rounded">
                                    <div class="row">
                                        <div class="col h6 text-center text-secondary">BODEGAS</div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <table class="table table-bordered table-condensed">
                                                <thead>
                                                    <tr class="text-center bg-gradient-light">
                                                        <th>#</th>
                                                        <th>Bodega</th>
                                                        <th>Cantidad</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="warenhouse_name">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col border rounded">
                                    <div class="row">
                                        <div class="col h6 text-center text-info">EMPRESAS</div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <table class="table table-bordered table-condensed table-hover">
                                                <thead>
                                                    <tr class="text-center bg-gradient-light">
                                                        <th>#</th>
                                                        <th>Empresa</th>
                                                        <th>Cantidad</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="company_name">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="border rounded">
                                <div class="row">
                                    <div class="col text-center text-secondary h6"> REPORTE DETALLADO</div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <table class="table table-bordered table-condensed">
                                            <thead>
                                                <tr class="text-center bg-gradient-light">
                                                    <th>#</th>
                                                    <th>Nombre</th>
                                                    <th>Empresa</th>
                                                    <th>Bodega</th>
                                                    <th>Cantidad</th>
                                                </tr>
                                            </thead>
                                            <tbody id="query_detail">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /tabs-->
                </div>
            </div>
            <div class="modal-footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-warning btn-sm">
                                <i class="fas fa-share"></i> Reconteo
                            </button>
                        </div>
                        <div class="col text-right">
                            <button class="btn btn-dark btn-sm" data-dismiss="modal">
                                <i class="fas fa-window-close"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
{% endblock %}
{% block scritp_code %}
<script type="text/javascript" charset="utf8" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#table').DataTable();
        $('#table_owners').DataTable();
        $('#table_resume').DataTable();
        $('#table_warenhouses').DataTable();
    });
</script>
<script src="{% static  'js/apps/taking_taking/taking_detail.js' %}"> </script>
<script>
    var id_migration = {{ taking.id_sap_migration.pk }};
    var id_taking = {{ taking.pk }};
</script>
{% endblock %}