{% extends 'base/base.html' %}
{% block title_bar %}
<div class="container-fluid">
    <div class="row border bg-gardient-secondary rounded" style="padding: 15px;">
        <div class="col-8">
            <i class="fa fa-list"></i>
            {{ title_page }}
        </div>
        <div class="col-4 text-right">
            <small>[Sistema Toma Inventarios] | <strong>Módulo {{ module_name }}</strong></small>
        </div>
    </div>
    <div class="row">
        <div class="col">Fecha de Toma</div>
        <div class="col text-primary">{{ taking.created }}</div>
        <div class="col">Administrador</div>
        <div class="col">
            {{ taking.user_manager.first_name }}
            {{ taking.user_manager.last_name }}
        </div>
        <div class="col"><button>Detalle</button></div>

    </div>
</div>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <table>
        <thead>
            <tr>
                <th>#</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>

            </tr>
        </tbody>
    </table>
</div>
{% endblock %}