.content-header {
    padding: 1px .1rem;
}
.text-withe {
    color: #fff;
}

tr:hover {
    background-color: #ff9;
}

.full-width {
    width: 100%;
}

.navbar {
    padding: 0.1rem;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 2px;
}
.bordered {
    border: 1px solid #ddd;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -1px;
    margin-left: -1px;
    margin-top: 2px;
}
.bg_sap {
    background-color: #ffff99;
}
.taking-number{
    font-size: 32px;
}
.taking-text{
    font-size: 16px;
}
.card {
    margin-bottom: 0.25rem;
}

.form-control {
    border-radius: 0.05rem;
}

label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 400;
}

label {
    display: inline-block;
    margin-bottom: 0.1rem;
}

.card-header {
    padding: 0.15rem 0.15rem;
    padding-left: 0.15rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 0 solid rgba(0, 0, 0, 0.125);
}
.container {
    padding-right: 3.5px;
    padding-left: 3.5px;
}

table.mi_table td{
    border: 0.20px solid;
}


.bg-gradient-light-selector {
    background: #eafcff linear-gradient(180deg, #fffdfd, #cde6ff) repeat-x !important;
    color: #1f2d3d;
}