{% extends 'base/base.html' %}
{% load static %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'css/apps/taking/chunk-vendors.css' %}">
<link rel="stylesheet" href="{% static 'css/apps/taking/app.css' %}">
<link rel="stylesheet" href="{% static 'fonts/fa-brands-400.5f7c5bb7.ttf' %}">
<link rel="stylesheet" href="{% static 'fonts/fa-brands-400.9210030c.woff2' %}">
<link rel="stylesheet" href="{% static 'fonts/fa-regular-400.02ad4ff9.woff2' %}">
<link rel="stylesheet" href="{% static 'fonts/fa-solid-900.0b5caff7.ttf' %}">
<link rel="stylesheet" href="{% static 'fonts/fa-solid-900.3eae9857.woff2' %}">
<link rel="stylesheet" href="{% static 'fonts/fa-v4compatibility.92dce52f.ttf' %}">
{% endblock %}
{% block content %}
<div class="container" id="app">
    # 
</div>
    <script>
        var csrf_token = '{{ csrf_token }}';
        var url_data = '/takings/api/taking/{{ id_taking}}/';
    </script>
    <script src="{% static 'js/apps/taking/chunk-vendors.js' %}"></script>
    <script src="{% static 'js/apps/taking/app.js' %}"></script>
    {% endblock %}