{% extends 'base/base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-6">

            <div class="small-box bg-info">
                <div class="inner">
                    <h3>{{ total_sap_migrations }}</h3>
                    <p>Migraciones SAP</p>
                </div>
                <div class="icon">
                    <i class="fas fa-server"></i>
                </div>
                <a href="sap/" class="small-box-footer">Ver Todo <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-6">
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>{{ total_takings }}</h3>
                    <p>Tomas Físicas</p>
                </div>
                <div class="icon">
                    <i class="fas fa fa-list"></i>
                </div>
                <a href="/taking/list/" class="small-box-footer">Ver Todo <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>{{ total_users }}</h3>
                    <p>Usuarios del Sistema</p>
                </div>
                <div class="icon">
                    <i class="fas fa-user-plus"></i>
                </div>
                <a href="#" class="small-box-footer">Ver Todo <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="small-box bg-danger">
                <div class="inner">
                    <h3>{{ total_products }}</h3>
                    <p>Productos</p>
                </div>
                <div class="icon">
                    <i class="fas fa-boxes"></i>
                </div>
                <a href="#" class="small-box-footer">Ver Todo<i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}